
*.json
lightning_logs/*
# Agent/*
data/*
data_forex/*

__pycache__
Keys.py
PPO_2024*
.DS_Store
*.pem
*.code-workspace
*.pyc
*.pyc
*.tar
*.tar.gz
*.gz
*.bz2
*.pyc
brokers/account_managers
/data_futures
/PPO_test_render_logs
/Rayrl_tune
*.png
Agent/pearl_USDJPY_model.pkl
